.content__main {

  background: url("/assets/images/greenpattern3.png");

  //background: rgb(230, 230, 220);
  height: 100%;

  border-radius: $radius-large;

  @include tablet {
    margin-top: -199px;
  }


}

hr.hr, hr {
  background-color: black;
  opacity: 0.25;
  height: 1px;
}


.tab {
  display: none;
}
.tab.is-active {
  display: block;
}


.cart__success {
  cursor: pointer;
  display: block;
  font-size: 1.25em;
  width: 2.5rem;
  line-height: 2.5rem;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.cart__success svg {
  border: none;
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  float: left;
  margin: 0;
}

.cart__success svg rect, .cart__success svg circle {
  fill: none;
  stroke: none;
  stroke-width: 2;
  transition: 0.3s all ease;
}

.cart__success svg polyline {
  fill: none;
  stroke-width: 4;
}

.cart__success input[type='checkbox'] {
  display: none;
}

.cart__success input[type='checkbox']:checked + svg rect, .cart__success input[type='checkbox']:checked + svg circle, .cart__success input[type='checkbox']:checked + svg polyline {
  stroke: #5f8647;
}

.cart__success input[type='checkbox']:checked + svg polyline {
  animation: checked 0.5s ease both;
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
}

@keyframes checked {
  to {
    stroke-dashoffset: 0;
  }
}


.product__img {
  height: 360px;
  border: 1px solid #eeeeee;
  background-color: #ffffff;
  border-radius: $radius-large;
  overflow: hidden;
}

.product__img img {
  width: 100%;
  border: none;
}

.product-title h1 {
  font-weight: bold;
  font-size: 2rem;
  color: black;
  margin-right: 20px;
}


.product__right .product-price .fa-ruble-sign {
  font-size: 1.7rem;
}
