footer {

  $font-color: #444;

  
  border-top: 3px solid #53ff52;

  .media+.media {
    border: none;
  }

  .copyright, .adress {
    .media-content {
      color: $font-color;
      font-size: 0.7rem;
    }
  }

  .footer-menu {

    font-size: 0.8rem;
    color: $font-color;

    h4 {
      font-size: 1.2rem;
      color: $font-color;
      padding: 0;
      margin: 0;
      //line-height: 3rem;
      padding-top: 0.6rem;
      padding-bottom: 0.6rem;
      
      white-space: nowrap;
    }
    

    li {
      margin-bottom: 2px;
    }

    a {
      color: $font-color;
      text-decoration: none;
      border-bottom: 1px solid lighten($font-color,20%);
      padding-bottom: 1px;
      display: inline;
    }
    a:hover {
      color: #fff;
      border-bottom: none;
    }

    .media-left {
      font-size: 2rem;
    }

  }
 
}


.footer__copyright p {
  display: inline-block;
}

