footer {

  border-top: 3px solid #53ff52;

  .copyright, .adress {
    .media-content {
      color: #ccc;
      font-size: 1rem;
    }
  }

  .footer-menu {
    h4 {
      font-size: 1.2rem;
      color: #eee;
      padding: 0;
      margin: 0;
      line-height: 3rem;
    }
    font-size: 0.8rem;
    color: #bbb;

    li {
      margin-bottom: 2px;
    }

    a {
      color: #bbb;
      text-decoration: none;
      border-bottom: 1px solid rgba(200,200,200,0.5);
      padding-bottom: 1px;
      display: inline;
    }

    .media-left {
      font-size: 2rem;
    }

  }
 
}


.footer__copyright p {
  display: inline-block;
}


@media (max-width: 768px) {
  footer {
    height: 40px;
  }
}