.article__img {

    background-color: #ffffff;
}

.article__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 290px;
    vertical-align: middle;
}

.article__info {
    background-color: #5f8647;
    padding: 20px 15px;
    box-sizing: border-box;
}

.article__info p {
    color: #fff;
}


.article__info a {
    color: #fff;
    text-decoration: underline;
    font-weight: bold;
}