.header {
  background-color: $primary;
}

.header__top {
  padding: $column-gap;
  padding-bottom: $column-gap*2;
  position: relative;
}

.header__top::before {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 200%;
  top: 0;
  right: 0;
  background-image: url(/assets/images/top.png);
  background-position: top right;
  background-size: 1300px;
  background-repeat: no-repeat;
  z-index: 0;
}


.header__logo {
  text-align: left;

  p {
    margin-bottom: 0;
    color: #ffffff;
    font-size: 40px;
    line-height: 40px;
    font-weight: $weight-bold;
    margin-left: -3px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);

    span {
      color: yellow;
      opacity: 0.56;
    }
  }

  p + p {
    color: #ffffff;
    font-size: 16.4px;
    line-height: 0;
    font-weight: $weight-normal;
    margin: 0;
    text-shadow: none;
  }

  p + p + p {
    color: #ffffff;
    font-size: 12px;
    font-weight: $weight-normal;
    margin: 0;
    line-height: 45px;
    opacity: 0.6;
    text-shadow: none;
  }
}

.header__logo::before {
  content: '';
  position: absolute;
  top: 10px;
  left: -70px;
  display: block;
  width: 94px;
  height: 74px;
  opacity: 0.1;
  background-image: url('/assets/images/icons/logo-leaf.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.header__payment-icons i {
  color: white;
}

.header__payment-icons img {
  border-radius: 5px;
}

.yandex-money-logo {
  background: url('/assets/images/Yandex_Money_rgb_ru.png');
  background-size: 100px;
  background-position: center;
  background-repeat: no-repeat;
  width: 110px;
  height: 28px;
  background-color: white;
  border-radius: 4px;
  display: inline-block;
  line-height: 45px;
}

.header__phones {
  .phone_call_i {
    width: 20px;
    margin-right: 5px;
    vertical-align: middle;
    margin-bottom: 4px;
  }

  .free_call_p {
    opacity: 0.75;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-top: 5px;

    strong {
      color: inherit;
    }
  }

  .header__phones_phone_p {
    background-color: $special-background;
    opacity: 1;
    padding: 10px 20px;
    border-radius: 35px;
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  }

  .header__phones_email {
    display: block;
    font-size: 1rem;
    a {
      border-bottom: 1px dotted black;
    }
  }

  .header__phones_phone_p a {
    color: black;
    font-weight: 700;
  }

  .header__phones p a span, .header__count p a span {
    font-weight: 700;
  }

  .header__phones p + p, .header__count p + p {
    margin: 0;
  }
}


.header__city {
  color: $primary;
  background-color: $white;
  opacity: 1;
  padding: 15px 30px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);

  a {
    cursor: pointer;
    color: $primary;
    text-decoration: none;
    border-bottom: 1px dashed $primary;
    position: relative;
  }


  p {
    position: relative;
    display: inline;
    padding-left: 9px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
    overflow: visible;
  }

  p::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -8px;
    display: block;
    width: 12px;
    height: 18px;
    background-image: url(/assets/images/icons/placeholder.svg);
    background-position: center;
    background-size: 12px;
    background-repeat: no-repeat;
  }
}




////////////////////////

.counter_block {
  background: $transparent-background;
  padding: 10px 20px;
  border-radius: $radius-xxlarge;
  margin-bottom: 22px;
  background: rgba(5,40,5,0.5);

  img {
    margin-right: 7px;
    width: 18px;
    margin-top: 5px;
  }

  .counter_text {
    color: #ffffff;
    font-family: 'Ubuntu';
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
  }


  .number_fon {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    background-color: #ffffff;
    height: 27px;
    display: inline-block;
    text-align: center;
    width: 16px;
    margin-bottom: 0;
  }

  .number_fon span {
    color: #db5242;
    font-family: Ubuntu;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 29px;
  }

  .counter_number {
    display: inline-block;
    vertical-align: middle;
  }
}

/////////////////////////////////////////////
.header__submenu {
  background: none;
  padding: 0;

  .navbar-burger {
    background: #ffffff;
    border-radius: $radius-large;
    width: 120px;

    div {
      position: absolute;
      top: calc(50% - 12px);
      left: 16px;
      font-weight: bold;
    }

    span {
      left: calc(75% - 8px);
    }
  }

  .navbar-menu {
    //background-color: $transparent-background;
    //border-radius: $radius-xlarge;

    a {
      color: white;
      font-weight: $weight-bold;
      border-radius: $radius-xlarge;
      text-decoration: rgba(255, 255, 255, 0.5) underline;
      text-shadow: rgba(0, 0, 0, 0.75) 1px 1px 2px;
    }

    a:hover {
      color: $black;
      background-color: $special-background;
      text-decoration: none;
      text-shadow: none;
    }

    .has-dropdown.is-active > a {
      border-radius: $radius-xlarge $radius-xlarge 0 0;
    }
  }

  .navbar-menu.is-active {
    background: none;
    .has-dropdown .navbar-dropdown {
      display: none;
    }

    .has-dropdown.is-active .navbar-dropdown {
      display: block;
    }
  }
}

//////////////////////////////////

.header__bottom {
  box-shadow: 0 0 15px 1px rgba(102, 75, 75, 0.14);
  background-color: none;
  margin-bottom: 15px;
  position: relative;
  z-index: 2;
  padding: 0 $column-gap;

  .header__address {
    background: #ffffff;
    max-width: 400px;
    padding: 5px 15px;
    height: 61px;
  }
}

////////////////////////////////

/*
.header__menu ul li.active a, .header__menu ul li:hover a, .header__menu ul li:focus a {
  color: #5f8647;
  text-decoration: none;
}

.header__menu ul li.active svg path, .header__menu ul li:hover svg path, .header__menu ul li:focus svg path {
  fill: #5f8647;
}
*/
/*
.top-line {
  background: #333333;
  margin: 0;

  .nav {
    a:link {
      text-decoration: none;
    }
  }

  .navbar-nav {
    margin: 0;
    padding: 0;
  }

  .phone, .email, li {
    list-style: none;
    margin: 0;
    padding: 17px;
    font-size: 1.5rem;
    line-height: 20px;
    height: 54px;
    padding-left: 43px;
    font-weight: normal;
  }


  .email {
    background: url('/assets/images/mail.png') no-repeat;
    background-size: 32px 32px;
    background-position: left center;
  }

  .phone {
    background: url('/assets/images/phone.png') no-repeat;
    background-size: 32px 32px;
    background-position: left center;
  }

  a:link {
    color: yellow;
    padding: 0;
    margin: 0;
    font-size: 100%;
    border-bottom: 1px solid yellow;
    display: inline-block;
  }

  a:hover {
    color: white;
    border-bottom: none;
  }
}

.navbar-static-top {
  margin: 0;
  background: #333333;
  border: none;
  color: white;
}
*/
