.header {
  background-color: $primary;
  margin-bottom: $column-gap;
  padding: 1.5rem 1.5rem 0.75rem;
  
}

.header__top {

  
  position: relative;
}



.header__top::before {
  content: ' ';
    position: absolute;
    width: 100vw;
    height: 120%;
    top: -1rem;
    left: -1.5rem;
    background-image: url(/assets/images/top.png);
    background-position: top right;
    background-size: 1300px;
    background-repeat: no-repeat;
    z-index: 0;
}


.header__logo {

  width: auto;

  @include mobile {
    width: initial;
  }

  @include tablet-only {
    
  }

  @include desktop-only {
    width: auto;
  }


  .logo__main {

    margin-bottom: 0;
    color: #ffffff;

    font-size: 46px;

    position: relative;
    z-index: 1;

    line-height: 40px;
    font-weight: $weight-bold;
    margin-left: -2px;
    margin-bottom: 0;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);


    width: 100%;
    display: block;


    span {
      color: yellow;
      
    }


  }

  .logo__description {
    color: #ffffff;

    //background-color: rgba(226, 200, 54,0.3);
    background-color: $primary;
    font-size: 15.3px;

    height: 22px;
    line-height: 22px;
   
    font-weight: $weight-normal;
    margin: 2px 0;
   
    text-shadow: none;

    display: inline-block;

    position: relative;
    z-index: 0;


  }

  .logo__notice {
    color: #ccc;
    font-size: 13.6px;

    height: 20px;
    line-height: 20px;

    @include tablet-only {
      font-size: 11.5px
    }

    @include desktop {
      font-size: 10px
    }

    @include widescreen {
      font-size: 11.4px
    }

    font-weight: $weight-normal;
  
    margin: 0 0 4px;
    
    //opacity: 0.6;
    text-shadow: none;
    background-color: $primary;
    
  }

  .header__payment-icons {

    span {

      background-color: white;

      color: white;
      border-radius: $radius-small;
      height: 28px;
      display: block;
      background-size:  auto 24px;
      background-position: center;
      background-repeat: no-repeat;
      margin: 0 1px;

    }

    .visa-logo {
      background-image: url('/assets/images/icons/visa.png');
      background-size:  auto 20px;
    }

    .mc-logo {
      background-image: url('/assets/images/icons/mc.png');
      
    }
    .yandex-money-logo {
      background-image: url('/assets/images/Yandex_Money_rgb_ru.png');
      background-size: 90px;
      width: 100px;
    }

  }


}

.header__logo::before {
  content: '';
  position: absolute;
  top: 10px;
  left: -70px;
  display: block;
  width: 94px;
  height: 74px;
  opacity: 0.1;
  background-image: url('/assets/images/icons/logo-leaf.svg');
  background-size: cover;
  background-repeat: no-repeat;
}



.header__phones {

  height: 99px;
  margin-bottom: 7px;

  @include mobile {
    margin-top: 10px;
  }

  .phone_call_i {
    width: 20px;
    margin-right: 5px;
    vertical-align: middle;
    margin-bottom: 4px;
  }

  .free_call_p {
    opacity: 0.75;
    color: #000;
    font-size: 14px;

    @include desktop-only {
      font-size: 12px;
    }
    @include tablet-only {
      font-size: 12px;
    }

    font-weight: 400;
    text-align: center;
    margin: 0;
    padding: 0;

    strong {
      color: inherit;
    }
  }

  .header__phones_phone_p {
    background-color: $special-background;
    opacity: 1;
    padding: 7px 10px;
    border-radius: $radius-large;
    text-decoration: none;
    text-align: center;

    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  }

  .phone_header {
    font-size: 1.6rem;

    line-height: 2px;
    margin: 0;
    padding: 0;
    color: rgb(64, 75, 0);
  }

  .header__icons {
    display: flex;
    color: #fff;
    font-weight: 400;
    padding-bottom: 0;
    flex-flow: row;
    
    justify-content: space-around;
    

    .icon {
      color: #eee;
      background-color: #444;
      border-radius: $radius-large;
      font-size: initial;

      font-size: 1.25rem;

      width: 40px;
      height: 40px;
      border: 1px solid rgb(245, 255, 159);

      @include mobile {
        width: 50px;
        height: 50px;
        font-size: 1.5rem;
      }

      display: flex;

      box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.7);
    }

    .is-email {
      background-color: rgb(143, 109, 109);
    }

    .is-viber {
      background-color: #665CAC;
    }

    .is-whatsapp {
      background-color: #4AC959;
    }

    // a {
    //border-bottom: 1px dotted black;
    // }
  }


}


.counter_block {
  background: $transparent-background;
  padding: 10px 20px;
  border-radius: $radius-xxlarge;
  margin-bottom: 22px;
  background: rgba(5, 40, 5, 0.5);

  img {
    margin-right: 7px;
    width: 18px;
    margin-top: 5px;
  }

  .counter_text {
    color: #ffffff;
    font-family: 'Ubuntu';
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
  }


  .number_fon {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    background-color: #ffffff;
    height: 27px;
    display: inline-block;
    text-align: center;
    width: 16px;
    margin-bottom: 0;
  }

  .number_fon span {
    color: #db5242;
    font-family: Ubuntu;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 29px;
  }

  .counter_number {
    display: inline-block;
    vertical-align: middle;
  }
}

.header__submenu {
  background: none;
  padding: 0;

  .navbar-menu {
    //background-color: $transparent-background;
    //border-radius: $radius-xlarge;

    a {
      color: white;
      font-weight: $weight-bold;
      border-radius: $radius-xlarge;
      text-decoration: rgba(255, 255, 255, 0.5) underline;
      text-shadow: rgba(0, 0, 0, 0.75) 1px 1px 2px;
    }

    a:hover {
      color: $black;
      background-color: $special-background;
      text-decoration: none;
      text-shadow: none;
    }

    .has-dropdown.is-active>a {
      border-radius: $radius-large $radius-large 0 0;
    }

    .navbar-item.has-dropdown.is-active,
    .navbar-item.has-dropdown:hover {
      .navbar-item.has-dropdown {
        padding: 0;
        border: 0;

        .navbar-link {
          background: none;

        }

        .navbar-link:after {
          transform: rotate(225deg);

        }

        .navbar-dropdown {
          border: none;
          position: absolute;
          left: unset;
          bottom: unset;
          right: unset;
          top: unset;
          left: 100%;
          top: -7px;
          background-color: darken($color: $primary, $amount: 5%);

          border-top-left-radius: 0;
          border-top-right-radius: 10px;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 10px;
          display: none;
        }
      }

      .navbar-item.has-dropdown.is-active,
      .navbar-item.has-dropdown:hover {
        .navbar-dropdown {
          display: block;
        }

        .navbar-link:after {
          border-color: black;

        }
      }
    }
  }

  .navbar-menu.is-active {
    background: none;

    .has-dropdown .navbar-dropdown {
      display: none;
    }

    .has-dropdown.is-active .navbar-dropdown {
      display: block;
    }
  }
}

.header__bottom {
  box-shadow: 0 0 15px 1px rgba(102, 75, 75, 0.14);
  background-color: none;
  margin-bottom: 15px;
  position: relative;
  z-index: 2;
  padding: 0 $column-gap;

  .header__address {
    background: #ffffff;
    max-width: 400px;
    padding: 5px 15px;
    height: 61px;
  }
}
