@charset 'utf-8';

// Set your brand colors
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;
$column-gap: 0.75rem;
$radius-large: 5px;
$radius-xlarge: 10px;
$radius-xxlarge: 35px;
// Update Bulma's global variables
$family-sans-serif: 'Ubuntu',
Arial,
sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: #005627;
$danger: #e40000;
$link: #337ab7;
$widescreen-enabled: true;
$fullhd-enabled: true;
$special-background: #ffcd36;
$navbar-item-hover-background-color: $special-background;
$navbar-item-hover-color: black;
$navbar-dropdown-arrow: white;
$navbar-dropdown-background-color: $primary;
$navbar-tab-hover-background-color: $primary;
$navbar-dropdown-item-hover-background-color: $primary;
$transparent-background: rgba(5, 40, 5, 0.5);
$weight-bold: 700;
$weight-normal: 400;
$block-spacing: 0.5rem;

@import '../../node_modules/bulma/bulma.sass';
@import '../../node_modules/bulma-badge/dist/css/bulma-badge';
@import './header';
@import './shopcart';
@import './content';
@import './sidebar';
@import './footer';
@import './shop';
@import './orderform';
@import './gallery';
@import './other';