@charset 'utf-8';



/*
// нежная
$c1: #CB997E;
$c2: #DDBEA9;
$c3: #FFE8D6;
$c4: #B7B7A4;
$c5: #A5A58D;
*/

$c1: #DDCB26;
$c2: #5F9C18;
$c3: #C5402B;
$c4: #3D3B42;
$c5: #796345;
$c6: #C1C1AD;

$light: #DEDEDE;
$background-color: $light;
$black: $c4;
$border-color: $c5;
$primary: $c2;
$secondary: $c5;
$danger: $c3;
$link: $c4;
$special-background: $c3;

$tablet: 650px;
//$column-gap: 0.75rem;
$radius-small: 4px;
$radius-large: 6px;
$radius-xlarge: 10px;
$radius-xxlarge: 35px;

$family-sans-serif: 'Roboto', sans-serif;

$navbar-item-hover-background-color: $special-background;
$navbar-item-hover-color: black;
$navbar-dropdown-arrow: white;
$navbar-dropdown-background-color: $primary;
$navbar-tab-hover-background-color: $primary;
$navbar-dropdown-item-hover-background-color: $primary;
$transparent-background: rgba(5, 40, 5, 0.5);
$weight-bold: 700;
$weight-normal: 400;
//$block-spacing: 0.5rem;
$modal-content-width: 1024px;

@import '../../node_modules/bulma/bulma.sass';
@import '../../node_modules/bulma/sass/utilities/mixins.sass';
@import '../../node_modules/bulma-badge/dist/css/bulma-badge';
@import './header';
@import './shopcart';
@import './content';
@import './sidebar';
@import './footer';
@import './shop';
@import './orderform';
@import './gallery';
@import './other';
@import './map';
@import './circlebar';
@import './productpage';
