@charset 'utf-8';



/*
// нежная
$c1: #CB997E;
$c2: #DDBEA9;
$c3: #FFE8D6;
$c4: #B7B7A4;
$c5: #A5A58D;
*/



$c1: #d8d51b;
$c2: #4daa35;
$c3: #3f8d2b;
$c4: #f16730;
$c5: #542D42;
$c6: #ebecec;
$c7: #c3d6cb;
$c8: #453440;

$black: $c8;
$background-color: $c6; 

$border-color: $c6;

$primary: $c2;
$secondary: $c3;

$warning: $c1;
$danger: $c4;
//$link: $c4;

$tablet: 650px;
//$column-gap: 0.75rem;
$radius-small: 4px;
$radius-large: 6px;
$radius-xlarge: 10px;
$radius-xxlarge: 35px;

$family-sans-serif: 'Roboto', sans-serif;

//$navbar-item-hover-background-color: $special-background;
//$navbar-item-hover-color: black;
//$navbar-dropdown-arrow: white;
//$navbar-dropdown-background-color: $primary;
//$navbar-tab-hover-background-color: $primary;
//$navbar-dropdown-item-hover-background-color: $primary;
$transparent-background: rgba(5, 40, 5, 0.5);
$weight-bold: 700;
$weight-normal: 400;
//$block-spacing: 0.5rem;
$modal-content-width: 1024px;

@import '../../node_modules/bulma/bulma.sass';
@import '../../node_modules/bulma/sass/utilities/mixins.sass';
@import '../../node_modules/bulma-badge/dist/css/bulma-badge';
@import './header';
@import './shopcart';
@import './content';
@import './sidebar';
@import './footer';
@import './shop';
@import './orderform';
@import './gallery';
@import './other';
@import './map';
@import './circlebar';
@import './productpage';
