.total__price {
  font-weight: bold;
  font-size: 2rem;
}

.cart_notification {
  font-size: 0.8rem;
  margin-left: 0.75rem;
}

.delivery_description {
     font-size: 11px;
}

.cart__items {

  .box {
    padding: 0.75rem
  }

  table {
    border-radius: $radius-small;
    overflow: hidden;
    margin-bottom: 5px !important;

    td{
      padding: 0;
      vertical-align: middle !important;
      text-align: center;
      .field.has-addons {
        margin: 0 auto;
      }
    }


    td.col-image {
      width: 50px;
      text-align: center;
      img {
        margin: 0 auto;
      }
    }

    td.col-count {
      width: 96px;
    }

    .item__count {
      .button {
        padding: 0;
        font-size: 1rem;
        height: 2rem;
        width: 2rem;
      }

      .shk-count {
        //width: 2rem;
        padding: 0;
        font-weight: normal;
        height: 2rem;
        text-align: center;
        padding: 0;
      }
    }

  }
  
}

.order__options {
  display: flex;
  //margin: auto;
  flex-wrap: wrap;
  flex-direction: column;

  .radio + .radio {
    margin: unset;
  }
  .radio {
    display: flex;
    flex: 0 1 68px;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;

    .country_delivery {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 10px;;

      .country_delivery__item {
        border: 2px solid #ccc;
        
        border-radius: 6px;
        margin-right: 5px;
        width: 75px;
        background: #fff;
        text-align: center;
        height: 59px;
        display: flex;
        align-items: center;
        align-content: center;
        position: relative;

        img {
          max-width: 60px;
          max-height: 50px;
          //lip: rect(0px,50px,50px,0px);
        }

        .price_label {
          display: block;
          position: absolute;
          background: #fff;
          font-size: 12px;
          padding: 2px 5px;
          border-radius: 0 0 5px 5px;
          left: 50%;
          transform: translate(-50%,39px);
          
        }
      }
      .country_delivery__item.active {
        border: 2px solid red;
        .price_label {
          border: 1px solid red;
        }
      }
    }

    .order__icon {
      width: 75px;
      height: 60px;
      border-radius: 6px;
      border: 1px solid #d6d4d3;
      background-color: #ffffff;
      position: relative;
      transition: 0.3s all ease;
    }

    .order__icon::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: 30px;
      height: 30px;
      background-size: cover;
      background-repeat: no-repeat;
    }

    input {
      display: none;
    }


    .label {
      //transform: translateY(100%);
      //padding-left: 80px;
      margin-left: 5px;
    }

    label {
      margin: auto 5px;
    }
  }
}


.order__payment {
  .order__options {
    .radio {
      flex-flow: row nowrap;
    }
  }
}



.order__options .radio input:checked ~ .order__icon {
  border-color: #5f8647;
  background-color: #5f8647;
}

.order__payment .order__options .radio.type_cash .order__icon::after {
  width: 44px;
  height: 34px;
  background-image: url(/assets/images/icons/wallet-grey.svg);
}

.order__payment .order__options .radio.type_cash input:checked ~ .order__icon::after {
  background-image: url(/assets/images/icons/wallet-white.svg);
}

.order__payment .order__options .radio.type_prepay .order__icon::after {
  width: 34px;
  height: 45px;
  background-image: url(/assets/images/icons/bill-grey.svg);
}

.order__payment .order__options .radio.type_prepay input:checked ~ .order__icon::after {
  background-image: url(/assets/images/icons/bill-white.svg);
}

.order__payment .order__options .radio.type_AC .order__icon::after {
  width: 49px;
  height: 33px;
  background-image: url(/assets/images/icons/card-grey.svg);
}

.order__payment .order__options .radio.type_AC input:checked ~ .order__icon::after {
  background-image: url(/assets/images/icons/card-white.svg);
}

.order__delivery .order__options .radio.type_pickup .order__icon::after {
  width: 45px;
  height: 46px;
  background-image: url(/assets/images/icons/hand-grey.svg);
}

.order__delivery .order__options .radio.type_pickup input:checked ~ .order__icon::after {
  background-image: url(/assets/images/icons/hand-white.svg);
}

.order__delivery .order__options .radio.type_delivery_samara .order__icon::after {
  width: 49px;
  height: 32px;
  background-image: url(/assets/images/icons/car-grey.svg);
}

.order__delivery .order__options .radio.type_delivery_samara input:checked ~ .order__icon::after {
  background-image: url(/assets/images/icons/car-white.svg);
}

.order__delivery .order__options .radio.type_shipping .order__icon::after {
  width: 49px;
  height: 48px;
  background-image: url(/assets/images/icons/truck-grey.svg);
}

.order__delivery .order__options .radio.type_shipping input:checked ~ .order__icon::after {
  background-image: url(/assets/images/icons/truck-white.svg);
}

.order__options .radio::after {
  position: absolute;
    top: 95%;
    left: 0;
    display: none;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
    font-size: 12px;
    color: #3b312d;
    z-index: 2;
    box-shadow: 0 7px 10px 0 rgba(128,113,105,.3);
    transition: .6s;
    border-radius: 6px;
}



.order__payment .order__options .radio.type_cash::after {
  content: 'Оплата наличными при доставке или самовывозе. Доступно только в Самаре и области';

}

.order__payment .order__options .radio.type_cash:hover::after, .order__payment .order__options .radio.type_cash:focus::after {
  display: block;
}

.order__payment .order__options .radio.type_prepay::after {
  content: 'Оплата на расчетный счёт. После оформления заказа Вам будет направлен счёт для оплаты в банке или с Вашего расчетного счета';
}

.order__payment .order__options .radio.type_prepay:hover::after, .order__payment .order__options .radio.type_prepay:focus::after {
  display: block;
}

.order__payment .order__options .radio.type_AC::after {
  content: 'Оплата банковской картой. После оформления заказа Вы будете перенаправлены на страницу оплаты заказа';

}

.order__payment .order__options .radio.type_AC:hover::after, .order__payment .order__options .radio.type_AC:focus::after {
  display: block;
}

.order__options .radio p {
  opacity: 0.7;
  color: #312621;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  width: 100%;
  margin: 5px 0 0;
}


.country_delivery {
  .country_delivery__item[data-trans=СДЭК]::after {
    content: 'Внимание! Доставка СДЭК при любых условиях платная!';
    position: absolute;
    top: 95%;
    left: 0;
    display: none;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
    font-size: 12px;
    color: #3b312d;
    z-index: 2;
    box-shadow: 0 7px 10px 0 rgba(128,113,105,.3);
    transition: .6s;
    border-radius: 6px;
  } 
  .country_delivery__item[data-trans=СДЭК]:hover::after {
    display: block;
  }
}
