.total__price {
  font-weight: bold;
  font-size: 2rem;
}

.radial-progress {
  $circle-size: 120px;
  $circle-background: #d6dadc;
  $circle-color: #97a71d;
  $transition-length: 1s;


  width: $circle-size;
  height: $circle-size;

  border-radius: 50%;

  background-color: $circle-background;
  .circle 
  {

    .mask {

      clip: rect(0px, $circle-size, $circle-size, $circle-size/2);

      .fill {
        background-color: $circle-color;
        width: $circle-size;
        height: $circle-size;
    
        transition: -webkit-transform $transition-length;
        transition: -ms-transform $transition-length;
        transition: transform $transition-length;
    
        border-radius: 50%;
        position: absolute;
        clip: rect(0px, $circle-size/2, $circle-size, 0px);
    
    
      }
      
    }

    
  }
}



.cart__items {
  table {
    border-radius: $radius-small;
    overflow: hidden;
    margin-bottom: 5px !important;

    td{
      padding: 0;
      vertical-align: middle !important;
    }

    td.col-image {
      width: 60px;
      text-align: center;
      img {
        margin: 0 auto;
      }
    }


    .item__count {
      .button {
        padding: 0.75rem;
        font-size: 1rem;
      }
      .control .input {
        padding: 0;
        font-weight: normal;
      }

      .shk-count {
        width: 42px; 
        text-align: center;
        padding: 0;
      }
    }

  }
  
}

.order__options {
  display: flex;
  //margin: auto;
  flex-wrap: wrap;
  flex-direction: column;

  .radio + .radio {
    margin: unset;
  }
  .radio {
    display: flex;
    flex: 0 1 68px;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;

    .country_delivery {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 10px;;

      .country_delivery__item {
        border: 2px solid #cccccc;
        overflow: hidden;
        border-radius: 6px;
        margin-right: 5px;

        img {
          height: 55px;
        }
      }
      .country_delivery__item.active {
        border: 2px solid red;
      }
    }

    .order__icon {
      width: 75px;
      height: 60px;
      border-radius: 6px;
      border: 1px solid #d6d4d3;
      background-color: #ffffff;
      position: relative;
      transition: 0.3s all ease;
    }

    .order__icon::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: 30px;
      height: 30px;
      background-size: cover;
      background-repeat: no-repeat;
    }

    input {
      display: none;
    }


    .label {
      //transform: translateY(100%);
      //padding-left: 80px;
      margin-left: 5px;
    }

    label {
      margin: auto 5px;
    }
  }
}


.order__payment {
  .order__options {
    .radio {
      flex-flow: row nowrap;
    }
  }
}



.order__options .radio input:checked ~ .order__icon {
  border-color: #5f8647;
  background-color: #5f8647;
}

.order__payment .order__options .radio:nth-child(1) .order__icon::after {
  width: 44px;
  height: 34px;
  background-image: url(/assets/images/icons/wallet-grey.svg);
}

.order__payment .order__options .radio:nth-child(1) input:checked ~ .order__icon::after {
  background-image: url(/assets/images/icons/wallet-white.svg);
}

.order__payment .order__options .radio:nth-child(2) .order__icon::after {
  width: 34px;
  height: 45px;
  background-image: url(/assets/images/icons/bill-grey.svg);
}

.order__payment .order__options .radio:nth-child(2) input:checked ~ .order__icon::after {
  background-image: url(/assets/images/icons/bill-white.svg);
}

.order__payment .order__options .radio:nth-child(3) .order__icon::after {
  width: 49px;
  height: 33px;
  background-image: url(/assets/images/icons/card-grey.svg);
}

.order__payment .order__options .radio:nth-child(3) input:checked ~ .order__icon::after {
  background-image: url(/assets/images/icons/card-white.svg);
}

.order__delivery .order__options .radio:nth-child(1) .order__icon::after {
  width: 45px;
  height: 46px;
  background-image: url(/assets/images/icons/hand-grey.svg);
}

.order__delivery .order__options .radio:nth-child(1) input:checked ~ .order__icon::after {
  background-image: url(/assets/images/icons/hand-white.svg);
}

.order__delivery .order__options .radio:nth-child(2) .order__icon::after {
  width: 49px;
  height: 32px;
  background-image: url(/assets/images/icons/car-grey.svg);
}

.order__delivery .order__options .radio:nth-child(2) input:checked ~ .order__icon::after {
  background-image: url(/assets/images/icons/car-white.svg);
}

.order__delivery .order__options .radio:nth-child(3) .order__icon::after {
  width: 49px;
  height: 48px;
  background-image: url(/assets/images/icons/truck-grey.svg);
}

.order__delivery .order__options .radio:nth-child(3) input:checked ~ .order__icon::after {
  background-image: url(/assets/images/icons/truck-white.svg);
}

.order__payment .order__options .radio:nth-child(1)::after {
  content: 'Оплата наличными при доставке или самовывозе. Доступно только в Самаре и области';
  position: absolute;
  bottom: -40px;
  left: 38px;
  display: none;
  width: 210px;
  padding: 10px;
  box-sizing: border-box;
  background-color: #ffffff;
  font-size: 12px;
  color: #3b312d;
  z-index: 2;
  box-shadow: 0 7px 10px 0 rgba(128,113,105,0.3);
  transition: 0.6s all ease;
  border-radius: 6px;
}

.order__payment .order__options .radio:nth-child(1):hover::after, .order__payment .order__options .radio:nth-child(1):focus::after {
  display: block;
}

.order__payment .order__options .radio:nth-child(2)::after {
  content: 'Оплата на расчетный счёт. После оформления заказа Вам будет направлен счёт для оплаты в банке или с Вашего расчетного счета';
  position: absolute;
  bottom: -40px;
  left: 38px;
  display: none;
  width: 210px;
  padding: 10px;
  box-sizing: border-box;
  background-color: #ffffff;
  font-size: 12px;
  color: #3b312d;
  z-index: 2;
  box-shadow: 0 7px 10px 0 rgba(128,113,105,0.3);
  transition: 0.6s all ease;
  border-radius: 6px;
}

.order__payment .order__options .radio:nth-child(2):hover::after, .order__payment .order__options .radio:nth-child(2):focus::after {
  display: block;
}

.order__payment .order__options .radio:nth-child(3)::after {
  content: 'Оплата банковской картой. После оформления заказа Вы будете перенаправлены на страницу оплаты заказа';
  position: absolute;
  bottom: -40px;
  left: 38px;
  display: none;
  width: 210px;
  padding: 10px;
  box-sizing: border-box;
  background-color: #ffffff;
  font-size: 12px;
  color: #3b312d;
  z-index: 2;
  box-shadow: 0 7px 10px 0 rgba(128,113,105,0.3);
  transition: 0.6s all ease;
  border-radius: 6px;
}

.order__payment .order__options .radio:nth-child(3):hover::after, .order__payment .order__options .radio:nth-child(3):focus::after {
  display: block;
}

.order__options .radio p {
  opacity: 0.7;
  color: #312621;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  width: 100%;
  margin: 5px 0 0;
}
