.section.main {
  padding-top: 0;
}

.main-carousel .item__img {
  min-height: 300px;
}

.main-carousel .item {
  flex-direction: column;
}

.main-carousel .item__img {
  min-height: auto;
}

.main-carousel .item__desc h2 {
  font-size: 40px;
}


.main-carousel .item__desc {
  width: 40%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 45px 20px;
  background-color: #5f8647;
}

.main-carousel .item__img {
  float: right;
  width: 65%;
}

.main-carousel .item__img img {
  height: 340px;
  width: 100%;
  object-fit: cover;
}

.main-carousel {
  margin-bottom: 25px;
}

.main-carousel .item {
  position: relative;
  overflow: hidden;
}


.main-carousel .item__desc h2 {
  color: #ffcd36;
  font-size: 44px;
  font-weight: bold;
  margin-bottom: 0;
}

.main-carousel .item__text {
  color: #ffffff;
  font-size: 22px;
  margin-bottom: 40px;
}

.main-carousel .item__desc .btn--more {
  display: block;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  width: 100%;
  max-width: 220px;
}

.main-carousel .item__img img {
  height: 340px;
  width: 100%;
  object-fit: cover;
}

//////
.main__advantages ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.main__advantages ul li {
  position: relative;
}

.main__advantages ul li img {
  position: absolute;
  bottom: 50%;
  max-height: 35px;
  pointer-events: none;
  transform: translateY(50%);
}

.main__advantages ul li::after {
  content: '';
  position: absolute;
  top: 60%;
  right: 5px;
  width: 9px;
  height: 9px;
  border-top: 1px solid;
  border-right: 1px solid;
  border-color: #312621;
  transform: translateY(-50%) rotate(45deg);
  transition: 0.3s all ease;
  display: block;
}

.main__advantages ul li:hover::after, .main__advantages ul li:focus::after {
  right: 0;
  border-color: #5f8647;
}

.main__advantages ul li a {
  display: block;
  padding: 25px 15px 15px 45px;
  color: #312621;
  font-size: 18px;
  transition: 0.3s all ease;
}

.main__advantages ul li:nth-child(3) a {
  padding-left: 60px;
}

.main__advantages ul li a span {
  border-bottom: 1px solid;
}

.main__advantages ul li:hover a, .main__advantages ul li:focus a {
  color: #5f8647;
  text-decoration: none;
}

.danger_text {
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 300px;
  font-size: 20px;
  color: white;
  font-weight: bold;
  text-align: center;
  background: #b92b27;  /* fallback for old browsers */
  background: linear-gradient(to right, #1565c0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.price-small {
  text-align: right;
  display: inline-block;
  width: 100%;
}

.fullPrice {
  font-size: 1.2em;
  margin-bottom: 7px;
}

.cartsmall-discount {
  margin-bottom: 7px;
}

#getRatesResult {
  border: 1px dotted #aaaaaa;
  margin: -7px;
  padding: 6px;
  border-radius: 4px;
  line-height: normal;
}

#getRatesResult .terminals-title {
  font-style: italic;
}

#getRatesResult .terminals-list {
  padding: 0;
}

#getRatesResult .terminals-list li {
  list-style: none;
  border-left: 3px solid #aaaaaa;
  padding-left: 10px;
  margin: 0;
  margin-bottom: 10px;
}

#dellin-logo img {
  width: 100%;
  max-width: 300px;
  text-align: center;
}

.product-price.big {
  font-size: 32px;
  font-weight: bold;
  color: #14455d;
}

.skidka {
  color: red;
}

.submitOrder {
  text-align: center;
}

.ofertaAgreement {
  font-weight: bold;
  text-align: center;
}

.submitOrder .button {
  font-size: 3rem;
  margin-top: 10px;
}

/*

.btn {
  color: #ffffff;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 4px;
  border: 0 solid transparent;
  cursor: pointer;
  transition: 0.3s all ease;
}

.btn.btn--red {
  background-color: #db5242;
  box-shadow: 0 0 21px rgba(156, 37, 23, 0.5);
}

.btn.btn--red:hover, .btn.btn--red:focus {
  color: #ffffff;
  background-color: #db5242;
  background-image: linear-gradient(45deg, rgba(255, 132, 0, 0.1) 0%, rgba(219, 82, 66, 0.1) 100%);
  box-shadow: none;
}

.btn--round {
  padding: 15px 25px;
  border-radius: 50px;
}

.btn--more {
  padding: 10px 20px;
  background: transparent;
  border: 2px solid #ffffff;
  position: relative;
}

.btn.btn--more:hover, .btn.btn--more:focus {
  color: #5f8647;
  border-color: #ffffff;
  background-color: #ffffff;
}

.btn--more::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 20px;
  width: 16px;
  height: 16px;
  border-top: 1px solid;
  border-right: 1px solid;
  border-color: #ffffff;
  transform: translateY(-50%) rotate(45deg);
  transition: 0.3s all ease;
  display: block;
}

.btn.btn--more:hover::before, .btn.btn--more:focus::before {
  border-color: #5f8647;
}

.btn--stroke {
  box-shadow: none;
  background-color: transparent;
  border: 2px solid #db5242;
  color: #db5242;
}

.btn--stroke:hover, .btn--stroke:focus {
  color: #ffffff;
  background-color: #db5242;
  border-color: #db5242;
}
*/
