.section.main {
  padding-top: 0;
}



.danger_text {
  font-size: 20px;
  color: #e94a37;
  margin: 10px 0;
  font-weight: bold;
  text-align: center;
}

.price-small {
  text-align: right;
  display: inline-block;
  width: 100%;
}

.fullPrice {
  font-size: 1.2em;
  margin-bottom: 7px;
}

.cartsmall-discount {
  margin-bottom: 7px;
}

#getRatesResult {
  border: 1px dotted #aaaaaa;
  margin: -7px;
  padding: 6px;
  border-radius: 4px;
  line-height: normal;
}

#getRatesResult .terminals-title {
  font-style: italic;
}

#getRatesResult .terminals-list {
  padding: 0;
}

#getRatesResult .terminals-list li {
  list-style: none;
  border-left: 3px solid #aaaaaa;
  padding-left: 10px;
  margin: 0;
  margin-bottom: 10px;
}

#dellin-logo img {
  width: 100%;
  max-width: 300px;
  text-align: center;
}

.product-price.big {
  font-size: 32px;
  font-weight: bold;
  color: #14455d;
}

.skidka {
  color: red;
}

.submitOrder {
  text-align: center;
}

.ofertaAgreement {
  font-weight: bold;
  text-align: center;
}

.submitOrder .button {
  font-size: 3rem;
  margin-top: 10px;
}



.btn {
  color: #ffffff;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 4px;
  border: 0 solid transparent;
  cursor: pointer;
  transition: 0.3s all ease;
}

.btn.btn--red {
  background-color: #db5242;
  box-shadow: 0 0 21px rgba(156, 37, 23, 0.5);
}

.btn.btn--red:hover, .btn.btn--red:focus {
  color: #ffffff;
  background-color: #db5242;
  background-image: linear-gradient(45deg, rgba(255, 132, 0, 0.1) 0%, rgba(219, 82, 66, 0.1) 100%);
  box-shadow: none;
}

.btn--round {
  padding: 15px 25px;
  border-radius: 50px;
}

.btn--more {
  padding: 10px 20px;
  background: transparent;
  border: 2px solid #ffffff;
  position: relative;
}

.btn.btn--more:hover, .btn.btn--more:focus {
  color: #5f8647;
  border-color: #ffffff;
  background-color: #ffffff;
}

.btn--more::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 20px;
  width: 16px;
  height: 16px;
  border-top: 1px solid;
  border-right: 1px solid;
  border-color: #ffffff;
  transform: translateY(-50%) rotate(45deg);
  transition: 0.3s all ease;
  display: block;
}

.btn.btn--more:hover::before, .btn.btn--more:focus::before {
  border-color: #5f8647;
}

.btn--stroke {
  box-shadow: none;
  background-color: transparent;
  border: 2px solid #db5242;
  color: #db5242;
}

.btn--stroke:hover, .btn--stroke:focus {
  color: #ffffff;
  background-color: #db5242;
  border-color: #db5242;
}
