.panel {
  margin-top: 15px;
  border-radius: 6px;
  box-shadow: 0 0 14px 1px rgba(128, 113, 105, 0.06);
  border: 2px solid #5f8647;
  position: relative;
}

.panel-heading {
  padding: 20px 10px;
  position: relative;
  color: #ffffff;
  background-color: #5f8647;
}

.panel-heading:before {
  content: '';
  position: absolute;
  top: 40%;
  left: 0;
  transform: translateY(-50%);
  display: block;
  width: 45px;
  height: 36px;
  background-image: url(/assets/images/icons/shopping-cart.png);
  opacity: 0.1;
  background-size: cover;
  background-repeat: no-repeat;
}

.panel-success>.panel-heading,
.panel-success>.panel-heading a {
  color: #ffffff;
  background-color: #5f8647;
}

.panel-body {
  padding: 5px 15px 15px;
}

.list-group-compact {
  width: 100%;
}

.list-group-compact thead {
  display: none;
}

.list-group-compact tbody tr {
  border-bottom: 1px solid #5f8647;
}

.list-group-compact tbody tr:nth-child(2n) {
  background: #ffffff;
}

.list-group-compact tbody tr td {
  padding: 20px 0;
  color: #312621;
  font-size: 12px;
  font-weight: 400;
}

.list-group-compact tbody tr td:nth-child(2) {
  text-align: center;
}

.list-group-compact tbody tr td .price-small {
  font-weight: 500;
}

.fullPrice {
  font-size: 16px;
  font-weight: 500;
  padding-top: 10px;
}

.fullPrice__numbers {
  text-align: right;
}

.fullPrice .fullPrice__old {
  color: #f43751;
  font-size: 20px;
  font-weight: 500;
  text-decoration: line-through;
  background: none;
}

.fullPrice .fullPrice__current {
  color: #5bb325;
  font-size: 20px;
  font-weight: 700;
  background: none;
}

.panel-heading .btn {
  display: inline-block;
}

.buttons-hover-opacity .btn.active {
  opacity: 1;
}

// CARDS //

.card {
  overflow: hidden;
}

.card.large {
  -webkit-backface-visibility: hidden;
  backface-visibility: initial;
  border-radius: 5px;
}

.media-content {
  overflow: hidden;
}

.title.no-padding {
  margin-bottom: 0 !important;
}

#flow span {
  display: block;
  width: 200vw;
  height: 200vw;
  position: absolute;
  top: -180vw;
  left: -50vw;
  border-radius: 90vw;
  opacity: 0.6;
}

.flow-1 {
  background: #3281ff;
  -webkit-animation: rotating 20s linear infinite;
  -moz-animation: rotating 20s linear infinite;
  -ms-animation: rotating 20s linear infinite;
  -o-animation: rotating 20s linear infinite;
  animation: rotating 20s linear infinite;
}

.flow-2 {
  background: #f442ee;
  position: absolute;
  -webkit-animation: rotating 15s linear infinite;
  -moz-animation: rotating 15s linear infinite;
  -ms-animation: rotating 15s linear infinite;
  -o-animation: rotating 15s linear infinite;
  animation: rotating 15s linear infinite;
}

.flow-3 {
  background: #42eef4;
  position: absolute;
  -webkit-animation: rotating 7s linear infinite;
  -moz-animation: rotating 7s linear infinite;
  -ms-animation: rotating 7s linear infinite;
  -o-animation: rotating 7s linear infinite;
  animation: rotating 7s linear infinite;
}

@-webkit-keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

// banners 

.banner {
  background: $c1;
  border-radius: 4px;
  overflow: hidden;
  padding: $column-gap;
  position: relative;
  min-height: 320px;
  height: 100%;

  h3 {
    color: $secondary;
    font-weight: bold;
    font-size: 2.3rem;
    margin: 0;
    line-height: 2.6rem;
    text-align: center;

    @include mobile {
      font-size: 1.4rem;
      line-height: 1.6rem;
    }

  }

  h4 {
    
    line-height: 2.5rem;
    font-size: 2.4rem;
    font-weight: bold;
    margin: 0;

    text-align: center;
    width: 100%;

    @include mobile {
      font-size: 1.4rem;
      line-height: 2.0rem;
    }

    @include desktop {
      font-size: 2.1rem;
    }

  }

  p {
    font-size: 12px;
    text-align: center;
    margin-bottom: 1rem;

    @include desktop {
      margin-bottom: 7px;
    }

    @include mobile {
      margin-bottom: 6px;
    }

  }

  .button {
    position: absolute;
    bottom: 40%;
    transform: translate(-50%, 50%);
    box-shadow: 2px 2px rgba(0, 0, 0, 0.4);
    left: 50%;
    z-index: 1;
  }

  .banner__image {
    position: absolute;
    right: 0;
    bottom: -10%;
    z-index: 0;
    height: 50%;
    max-width: 150%;
  }
}

// banner videos

.banner.videos {
  padding: 0;
  .carousel__viewport, .carousel__track {
    height: 100%;
  }

  .notice {
    position: absolute;
    width: 100%;
    color: $c5;
    left: 0;
    top: 0;
    z-index: 1;
    font-size: 1rem;
    padding: 10px 10px;
  }

  .video-content {
    display: flex;
    width: 100%;
    background: #d8d51b;
    border-radius: 4px;
    cursor: pointer;
    padding: 0;
    margin: 0;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
  }

  .video__title {
    top: 0;
    width: 100%;
    text-align: center;
    font-weight: 700;
    @include mobile {
      font-size: 13px;
      min-height: 78px;
    }
  }

  .manual__title {
    top: 0;
    width: 100%;
    text-align: center;
    font-weight: 700;
    margin-bottom: 2px;
    margin-top: $column-gap;
    @include mobile {
      font-size: 13px;
    } 
  }
}

// VOLUMES 

.button.volume {
  padding: 0;
  margin: 0;
  border-radius: 2000px;
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 13px;
  background-color: $c1;
  border: 2px solid lighten($c1,20%);
  z-index: 2;
}

.button.volume.is-nav-selected {
  background: $c5;
  color: #fff;
  border-color: #fff;
}

.volumes {
  position: absolute;
    /* background: black; */
    
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    right: 0;
    top: 0;
    padding: 10px;

}

.carousel__button.is-prev, .carousel__button.is-next {

  top: 50%;
  font-size: 2.5rem;
  color: $c6;
  background-color: $primary;
  padding: 0;
  margin: 0;
  border-radius: 999px;
  height: 48px;
  width: 48px;

  i.fas {
    padding: 0;
    margin: 0;
  }

}

.carousel__button.is-prev {
  left: -24px;
  padding: 0 0 0 20px;
}
.carousel__button.is-next {
  right: -24px;
  padding: 0px 20px 0 0;
}

.products_header {
  
  font-weight: bold;
  font-size: 1.0rem;
  text-align: center;
  padding: 10px 5px 0;

  @include mobile {
    color: $black;
    padding: 7px 0 0;
    font-size: 0.8rem;
  }
}

/* PRODUCT LIST */

.products {

  padding: 0;
  margin: 0 -0.4rem;
  
  .column {
    padding: 0.4rem;
  }

}

.product .card-image {
  position: relative;
}

.product, .shk-item {
  .card-content {
    padding: 0.5rem;

    .level {
      margin-bottom: 1px;
    }
  }
}

.is-xsmall {
  padding: 0;
  margin: 0;
  line-height: normal;
  font-size: 0.75rem;
  height: 1.5rem;
  width: 1.5rem;
}

.miniProductImages {
  .carousel__slide {
    width: 100%;
    margin: 0;
    padding: 0;

    figure {
      width: 100%;
      margin: 0;
      padding: 0;
    }
    img {
      width: 100%;
      margin: 0;
      padding: 0;
    }
  }
}

h3.product-title {
  margin: 0;
  padding: 0;
  margin-bottom: 0;
  line-height: normal;
}

h3.product-title a {

  font-weight: bold;
  font-size: 1.0rem;
  color: $c2;
  line-height: normal;

  margin: 0;
  padding: 0;

  border-bottom: 2px solid rgba($color: #bbe5b7, $alpha: 1.0);

  @include mobile {
    font-size: 0.9rem;
  }

}

h3.product-title a:hover {
  color: rgb(67, 207, 67);
  border-bottom: none;
}


.product-price {
  i {
    font-size: 1.3rem;
    color: #999;
    margin-left: 1px;
  }
}

.shk-price {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
 
}

.shk-count-edit {
  .shk-count-product {
    text-align: center;
    font-weight: bold;
  }
  margin: 0;
  padding: 0;
}


.product-more {
  .button {
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3), inset 0 0 15px rgba(255, 255, 255, 0.25);
  }

  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0.25rem;
  overflow: hidden;
}

/* product page */

.product-page .column-left {
  margin-bottom: 20px;
}

.symbol2 {
  text-align: center;
    font-size: 4rem;
    position: absolute;
    width: 95%;
    bottom: 20px;
}