.navbar-burger {
  background: #ffffff;
  //border-radius: $radius-large;

  //box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  //border: 2px solid $primary;

  width: 2rem;
  height: 2rem;
  padding: 0;
  margin: 0;
  background: none;

  div {
    position: absolute;
    top: calc(50% - 12px);
    left: 16px;
    font-weight: bold;
  }

  span {
    left: calc(50% - 8px);
  }
}


#korzina {
  
  background-color: #fff;
  border: 3px solid $danger;
  
  border-radius: $radius-large;
  //overflow: hidden;
  position: relative;
  box-shadow: 0 0 15 rgba(0, 0, 0, 0.4);

  padding: 5px;
  //margin-bottom: 7px;
  min-height: 46px;

  .shopcart-small {

    cursor: pointer !important;
    color: #444;

    .fullPrice {
      font-size: 1rem;
      
    }

    .shopcart-full {
      position: absolute;
      left: 0;
      top: 100%;
      margin-top: 0;
      padding: 5px;

      border-radius: 0px 0px $radius-large $radius-large;
      
      //outline: 2px solid $danger;
      border-top: none;
      
      background-color: #fff;
      width: 100%;

      .checkout-button {
        z-index: 10;
      }
      
    }

    .shopcart-full.collapsed {
      
      display: none;
      
      .checkout-button {
        //display: none;
      }
      .product-list {
        display: none;
      }
      .product-params {
        display: none;
      }

    }

  }
}


.pre_korzina {
  position: relative;
  z-index: 2;
  //height: 61px;

}


.header__city {
  color: $primary;
  
  opacity: 1;
  
  text-decoration: none;
  text-align: center;
  
  a {
    cursor: pointer;
    color: $primary;
    text-decoration: none;
    border-bottom: 1px dashed $primary;
    position: relative;
  }


  p {
    position: relative;
    display: inline;
    padding-left: 9px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
    overflow: visible;
  }

}