#openfullcart {
  text-decoration: none;
}
#korzina {
  position: relative;
  padding: 7px 0;

  @include mobile {
    padding: 5px $column-gap / 2;
  }

  a {
    text-decoration: none;
    margin: 0;
  }
  
  .shopcart-small {
    cursor: pointer !important;

    .fullPrice {
      font-size: 1rem;
    }

    .shopcart-full {
      display: flex;
      flex-direction: column;
      text-transform: none;
      position: absolute;
      right: 0;
      top: 100%;
      margin-top: 0;   
      min-width: 280px;
      font-size: 0.8rem;
      border-radius: 4px 4px 0 0;      
      background-color: $c6;
      
      box-shadow: #00000030 0 0 15px, #00000025 2px 2px 2px;
      .checkout-button {
        z-index: 10;
      }

      .buttons {
        margin: $column-gap / 2;
        a.button {
          color: $c5;
        }
      }

      table {
        margin-bottom: 5px;
      }

      @include mobile {
        position: fixed;
        bottom: 56px;
        // min-width: 300px;
        top: auto;
        margin: $column-gap / 2;
        
      }
    }

    

    .product-list {
      margin: 0 $column-gap;
    }

    .product-params {
      margin: 0 $column-gap;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    .shopcart-full.collapsed {
      
      display: none;
      
      .checkout-button {
        //display: none;
      }
      .product-list {
        display: none;
      }
      .product-params {
        display: none;
      }

    }

    

  }
}

.shopcart_v3 {
  .box {
    margin-bottom: 5px;
  }
}

.shopcart__summary {
  p {
    margin: 0;
  }
}


#freeDelivery {
  padding: 0 $column-gap;
  margin-bottom: $column-gap;

  .columns {
    margin-bottom: 0;
  }
}

.get_rates_message {
  background: #d8d51b;
  font-weight: bold;
  color: #453440;
  margin-bottom: 0;
}



.pre_korzina {
  position: relative;
  z-index: 10;
  background: $c1;
  //height: 61px;

  @include mobile {
    position: fixed;
    bottom: 0;
    height: 49px;
    right: 6px;
  }

}

.promocode {
  font-size: 1.2rem;

  .promocode__code, .promocode__discount {
    font-weight: bold;
    margin: 0 5px;
  }

}