.side__menu {
  //margin-top: 15px;
  //margin-right: 5px;
  //margin-left: 5px;
  margin: 0;
  padding: 0;

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;

    li {
      position: relative;
      margin-bottom: 12px;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
        width: 200px;
      }

      a {
        display: block;
        padding: 25px 15px 25px 80px;
        color: #312621;
        font-size: 0;
        line-height: 1.5rem;
        font-weight: bold;
        border-radius: 6px;
        background-color: #ffcd36;
        background-image: linear-gradient(45deg, rgba(244, 174, 24, 0.5) 0%, rgba(255, 205, 54, 0.5) 99%, rgba(255, 205, 54, 0.5) 100%);
        transition: 0.3s all ease;
      }
    }

    li::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 15px;
      width: 9px;
      height: 9px;
      border-top: 1px solid;
      border-right: 1px solid;
      border-color: #312621;
      transform: translateY(-50%) rotate(45deg);
      transition: 0.3s all ease;
      display: block;
    }

    li.active::after, li:hover::after, li:focus::after {
      right: 10px;
      border-color: #ffffff;
    }

    li.first {


          a.navbar-item {
            font-size: 24px;
            font-weight: 400;
            padding: 17px 5px;
            border-radius: 3px;
            margin-bottom: 5px;
            text-align: center;

          }

      
      
    }
  }
}


.side__menu ul li.active a, .side__menu ul li:hover a, .side__menu ul li:focus a {
  color: #ffffff;
  background-image: none;
  background-color: #5f8647;
  text-decoration: none;
}

.panel {
  border-radius: 6px;
  box-shadow: 0 0 14px 1px rgba(128, 113, 105, 0.06);
  border: 2px solid #5f8647;
  position: relative;
}

.panel-heading {
  padding: 20px 10px;
  position: relative;
  color: #ffffff;
  background-color: #5f8647;
}

.panel-heading:before {
  content: '';
  position: absolute;
  top: 40%;
  left: 0;
  transform: translateY(-50%);
  display: block;
  width: 45px;
  height: 36px;
  background-image: url(/assets/images/icons/shopping-cart.png);
  opacity: 0.1;
  background-size: cover;
  background-repeat: no-repeat;
}

.panel-success > .panel-heading, .panel-success > .panel-heading a {
  color: #ffffff;
  background-color: #5f8647;
}

.panel-body {
  padding: 5px 15px 15px;
}

aside {
  display: flex;
  justify-content: space-between;
}

.side__menu, .panel {
  flex: 1 50%;
}

.product-list-item-image {
  flex-basis: 50%;
}

#zakaz {
  .icon {
    margin-right: 5px;
  }
}