.side__menu {
  //margin-top: 15px;
  //margin-right: 5px;
  //margin-left: 5px;
  margin: 0;
  padding: 0;

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0; 

    li.navbar-item {
      position: relative;
      margin: 0 0 12px;
      padding: 0;

      a.navbar-link {
        font-size: 24px;
        
        text-align: center;
        width: 100%;
        display: block;
        //padding: 20px 10px;
        color: #3e3f30;
        //font-size: 0;
        
        font-weight: normal;
        border-radius: $radius-large;
        background-color: $secondary;
        //background-image: linear-gradient(45deg, rgba(244, 174, 24, 0.5) 0%, rgba(255, 205, 54, 0.5) 99%, rgba(255, 205, 54, 0.5) 100%);
        //transition: 0.3s all ease;

        border-right: 1px solid rgba(0, 0, 0, 0.3);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);

        box-shadow: 0 0 15px rgba(0,0,0,0.2);

        text-transform: uppercase;

        display:  flex;
        flex-wrap: nowrap;
        .icon {
          display: block;
          margin: 2px 0 0 0;
          padding: 0;
          //border: 1px solid black;
          width: 32px;
          text-align: center;

          margin-right: 0.75rem;

          i {
            display: block;
          }
        }

        .is-red { color: #da0000; }
        .is-blue { color: #7e5fe4; }

        .menu-title {
          display: block;
          //border: 1px solid black;
          text-align: left;

          
          line-height: normal;

          span {
            display: block;
            margin: 0;
           
          }
        }


      }

      a.navbar-link.is-red {
        background-color: #e76000;
        color: white;
      }

      > a.is-active, a:hover {
        background-color: $primary;
      }

      .navbar-dropdown {

        position: absolute;
        left: 100%;
        top: 0;
        background: none;
        padding: 0 5px;
        border-radius: 0;
        border: none;
        box-shadow: none;

        @include touch {
          position: relative;
          left: 0;
        }

        //transition: unset;
        //animation: unset;

        a {
          font-size: 22px;
          border-top: 1px solid rgba(255, 255, 255, 0.1);
          border-right: 2px solid rgba(0, 0, 0, 0.3);
          border-left: 2px solid rgba(255, 255, 255, 0.5);
          border-bottom: 1px solid rgba(0, 0, 0, 0.2);
          
          background: $primary;

          color: white;
          padding: 8px 10px;

        }

        a:first-child {
          border-radius:  $radius-large $radius-large 0 0;
        }

        a:last-child {
          border-radius: 0 0 $radius-large $radius-large;
        }

      }

     
  

    }

    .navbar-item.has-dropdown .navbar-dropdown {
      
      @include touch {
        display: none;
      }

    }

    .navbar-item.has-dropdown.is-active .navbar-dropdown {
      
      @include touch {
        display: block;
      }

    }


    li.navbar-item.has-dropdown::after {
      
      content: '';
      position: absolute;
      top: 50%;
      right: 15px;
      width: 9px;
      height: 9px;
      border-top: 2px solid;
      border-right: 2px solid;
      border-color: #4b3e39;
      transform: translateY(-50%) rotate(45deg);
      transition: .3s;
      display: block;

      @include touch {
        top: 22px;
      }

    }

    li.navbar-item.has-dropdown.is-active::after {
      
      @include touch {
        transform: translateY(-50%) rotate(135deg);
      }

    }

  }
}


.side__menu ul li.active a.navbar-link,
.side__menu ul li.is-active a.navbar-link,
.side__menu ul li:hover a.navbar-link,
.side__menu ul li:focus a.navbar-link {
  color: #ffffff;
  background-image: none;
  background-color: #5f8647;
  text-decoration: none;

  .icon {
    color: white;
  }
}

.panel {
  border-radius: 6px;
  box-shadow: 0 0 14px 1px rgba(128, 113, 105, 0.06);
  border: 2px solid #5f8647;
  position: relative;
}

.panel-heading {
  padding: 20px 10px;
  position: relative;
  color: #ffffff;
  background-color: #5f8647;
}

.panel-heading:before {
  content: '';
  position: absolute;
  top: 40%;
  left: 0;
  transform: translateY(-50%);
  display: block;
  width: 45px;
  height: 36px;
  background-image: url(/assets/images/icons/shopping-cart.png);
  opacity: 0.1;
  background-size: cover;
  background-repeat: no-repeat;
}

.panel-success>.panel-heading,
.panel-success>.panel-heading a {
  color: #ffffff;
  background-color: #5f8647;
}

.panel-body {
  padding: 5px 15px 15px;
}

aside {
  display: flex;
  justify-content: space-between;
}

.side__menu,
.panel {
  flex: 1 50%;
}

.product-list-item-image {
  flex-basis: 50%;
}

#zakaz {
  .icon {
    margin-right: 5px;
    img {
      border-radius: $radius-large;
    }
  }
}