.wheretobuy {
  display: block;
  color: $black;
  margin: 0;

  .wheretobuy_header {
    margin-top: 0;
    font-size: 1.0rem;
    text-align: center;
    margin-bottom: 15px;
    z-index: 1;
    position: relative;
    padding: 10px 5px 0;
    font-weight: bold;

    @include mobile {
      color: $black;
      padding: 7px 5px 0;
      font-size: 0.8rem;
    }
  }

  .wheretobuy_item:last-child {
    margin-bottom: 0 !important;
  }

  .wheretobuy_content {
    //@extend .columns;
    //@extend .is-mobile;
    //@extend .is-multiline;
    //@extend .is-gapless;
    //@extend .is-centered;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px;
  }

  .wheretobuy_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    

    .wheretobuy_image {
      width: 5rem;
      height: 5rem;
      min-width: 32px;
      border-radius: 20px;
      background: #cfcfcf;
      border: 3px solid $white;
      overflow: hidden;

      @include mobile {
        border-radius: 15px;
        width: 4rem;
        height: 4rem;
      }
    }

    .wheretobuy_item_title {
      display: none;
      color: white;
      font-size: 12px;
      margin-top: 5px;
      //line-height: normal;
      text-align: center;
      margin-bottom: 10px;

      @include desktop {
        font-size: 14px;
        max-width: 10rem;
      }

      a {
        text-decoration: underline;
        text-decoration-color: lighten(#446ad4, 25%);
        color: #446ad4;
      }
    }

    img {
      margin: 0;
      display: block;
      //background-color: white;


      width: 100%;
      height: 100%;
    }

  }
}


.panel {
  border-radius: 6px;
  box-shadow: 0 0 14px 1px rgba(128, 113, 105, 0.06);
  border: 2px solid #5f8647;
  position: relative;
}

.panel-heading {
  padding: 20px 10px;
  position: relative;
  color: #ffffff;
  background-color: #5f8647;
}

.panel-heading:before {
  content: '';
  position: absolute;
  top: 40%;
  left: 0;
  transform: translateY(-50%);
  display: block;
  width: 45px;
  height: 36px;
  background-image: url(/assets/images/icons/shopping-cart.png);
  opacity: 0.1;
  background-size: cover;
  background-repeat: no-repeat;
}

.panel-success>.panel-heading,
.panel-success>.panel-heading a {
  color: #ffffff;
  background-color: #5f8647;
}

.panel-body {
  padding: 5px 15px 15px;
}

aside {
  display: flex;
  justify-content: space-between;
}

.side__menu,
.panel {
  flex: 1 50%;
}

.product-list-item-image {
  flex-basis: 50%;
}

#zakaz {
  .icon {
    margin-right: 5px;

    img {
      border-radius: $radius-large;
    }
  }
}