<div class="col-xs-12 col-sm-4 col-md-3 product-list-item-box">
    <div class="thumbnail shk-item">
        <a href="/katalog/biogumus/[[+alias]].html">
            <img src="[[phpthumbon? &input=`/assets/files/[[+image]]` &options=`w=128&h=170&zc=TR&bg=#FFFFFF` ]]" style="background: #fff" alt="[[+pagetitle]]">[[---~[[---+resource_id]]? &scheme=`abs`]]
        </a>
        <div class="caption text-center">
            <h3>[[+pagetitle]]</h3>
            <div class="absolute-block">
                <div class="product-price">
                    <span class="shk-price">[[+price]] <span class="rouble">₽</span></span>
                </div>
                <form action="[[~[[*id]]? &scheme=`abs`]]" method="post">
                    <input type="hidden" name="shk-id" value="[[+id]]">
                    <input type="hidden" name="shk-name" value="[[+pagetitle]]">
                    <input type="hidden" name="shk-count" value="1">
                    <div class="btn-group" role="group">
                        <a href="/katalog/biogumus/[[+alias]].html" class="btn btn-success" role="button">Подробнее</a>
                        <button type="submit" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="В корзину">
                            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> <b>+</b>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>