    <footer class="footer">
        <div class="container">
            <div class="footer__content">
                <div class="footer__info">
                    <div class="footer__copyright">
                        <p>&copy; Biogumus.PRO — удобрения Биогумус: <br>оптом и в розницу по выгодным ценам.</p>
                    </div>
                    <div class="to">
                        <img src="/logo_small_color.png" width="15" height="13" /> Продвижение сайта — «<a href="https://tehotdel.ru/" target="_blank">Техотдел</a>»
                    </div>
                </div>
                <div class="footer__menu">
                    [[!Wayfinder? 
                        &startId=`0` 
                        &includeDocs=`46,43,4,19,20,69`
                        &outerTpl=`footmenu_outerTpl` 
                        &rowTpl=`footmenu_rowTpl` 
                        &hereClass=`active` 
                        &firstClass=`` 
                        &lastClass =`` 
                    ]]
                </div>
                <div class="footer__contacts">
                    <div class="footer__phones">
                        <p><a href="tel:+74957419668">8 (800) <span>550-09-34</span></a></p>
                    </div>
                    <div class="footer__address">
                        [[$[[!checkCity:is=`Самара`:then=`headerSamara`:else=`headerOther`]]]]
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
    [[*id:is=`7`:then=`
    <!-- Договор оферты -->
    <div class="modal fade" id="oferta" tabindex="2" role="dialog" aria-labelledby="myModalLabel2">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel2">Договор оферты Биогумус.shop</h4>
          </div>
          <div class="modal-body align-left">
            [[!getResources? &resources=`20` &tpl=`justcontent` &includeContent=`1` &depth=`0`]]
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
    
          </div>
        </div>
      </div>
    </div>
    `]]
    <!-- Консультация -->
    <div class="modal fade" id="consultModal" tabindex="-1" role="dialog" aria-labelledby="consultModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content consult-form">
                <div class="modal-header">
                    <button type="button" class="close modal__close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="consultModalLabel">Заказать консультацию</h4>
                    <p class="modal-subtitle">Мы перезвоним через 15 минут</p>
                </div>
                <div class="modal-body">
                    [[!AjaxForm?
                    	&snippet=`FormIt`
                    	&form=`consultTpl`
                    	&emailTpl=`consultMail`
                    	&emailFrom=`info@biogumus.pro`
                    	&hooks=`email,utm_send`
                    	&emailSubject=`Заказ консультации`
                    	&emailTo=`bgumus@mail.ru,biogumus-samara@yandex.ru`
                    	&validate=`phone:required,policy:required`
                    	&validationErrorMessage=`В форме содержатся ошибки!`
                    	&successMessage=`Сообщение успешно отправлено`
                    ]]
                </div>
            </div>
        </div>
    </div>
    
    <!-- SHK scripts -->
    <script src="[[++base_url]]assets/components/tag_manager2/js/web/jquery.history.src.js"></script>
    <script src="[[++base_url]]assets/components/shopkeeper3/web/js/lang/ru.js"></script>
    <script src="[[++base_url]]assets/components/shopkeeper3/web/js/shopkeeper.js"></script>
    <script src="[[++base_url]]assets/components/tag_manager2/js/web/filters.js"></script>
    <script src="[[++base_url]]assets/components/tag_manager2/js/web/view_switch.js"></script>
    
    <!-- maps api js -->
    <script src="https://api-maps.yandex.ru/2.1/?load=package.full&amp;lang=ru-RU" type="text/javascript"></script>
    
    <!-- custom js -->
    <script src="[[++base_url]]assets/js/stick.js"></script>
    [[*id:is=`44`:then=`<script src="[[++base_url]]assets/js/map.js"></script>`]]
    <script src="[[++base_url]]assets/js/app.js"></script>
    
    <!-- yandex counter --> 
    [[$yandex_counter]]
</body>
</html>