[[$header2]]
<div class="container main">
    <div class="row">
        [[$dostavka_red_action_mobile]]
        <div class="col-xs-12 col-md-offset-3 col-md-9">
           
        </div>
        <aside class="col-xs-12 col-md-3"><!--левая колонка-->
            [[$sidebar]]
        </aside> <!--левая колонка-->
        <div class="col-xs-12 col-md-9">
             
              [[$dostavka_red_action]]
              
            <div class="main__top">
                <div class="main-carousel owl-carousel owl-theme">

                    
                    <div class="item">
                        <div class="item__desc">
                            <h3 style="color: white; margin-bottom: 0; font-size: 27px; font-weight: normal;">Доставка по России</h3>
                            <h2 style="margin-top: 0; margin-bottom: 15px;">БЕСПЛАТНО</h2>
                            <p class="item__text">При заказе от 1000 ₽ <span style="color: gold;">*</span></p>
                            <p><a href="/information.html" class="btn btn--round btn--more">Подробнее</a></p>
                        </div>
                        <div class="item__img">
                            <img src="/images/banner_biogumus.png" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="item__desc">
                            <h2>Гарантируем</h2>
                            <p class="item__text">экологически <br>чистый урожай</p>
                            <p><a href="/press/preimuschestva-biogumusa.html" class="btn btn--round btn--more">Подробнее</a></p>
                        </div>
                        <div class="item__img">
                            <img src="/images/slide1.jpg" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="item__desc">
                            <h2>Покупайте</h2>
                            <p class="item__text">рядом с домом</p>
                            <p><a href="/partneri.html" class="btn btn--round btn--more">Подробнее</a></p>
                        </div>
                        <div class="item__img">
                            <img src="/images/slide2.jpg" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="item__desc">
                            <h2>Доставим</h2>
                            <p class="item__text">по всей России</p>
                            <p><a href="/information.html" class="btn btn--round btn--more">Подробнее</a></p>
                        </div>
                        <div class="item__img">
                            <img src="/images/slide3.jpg" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="item__desc">
                            <h2>Повысьте</h2>
                            <p class="item__text">урожайность без химии</p>
                            <p><a href="/press/whybio.html" class="btn btn--round btn--more">Подробнее</a></p>
                        </div>
                        <div class="item__img">
                            <img src="/images/slide4.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="main__advantages">
                    <ul>
                        <li>
                            <img src="/images/icons/pig.svg" alt="Копилка">
                            <a href="/akcii.html"><span>Система скидок</span></a>
                        </li>
                        <li>
                            <img src="/images/icons/ic-box.svg" alt="Грузовая тележка">
                            <a href="/information.html"><span>Доставка по городу</span></a>
                        </li>
                        <li>
                            <img src="/images/icons/ic-delivery.svg" alt="Грузовик">
                            <a href="/information.html"><span>Доставка по России</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="content content--main">
                <h3>Каталог:</h3>
                <hr>
                <div class="row products" id="products">
                    [[--!tmCatalog]]
                    [[--getPage@catalog_filters]]
                    [[getProducts@mainpage_new]]
                    <div class="clearfix"></div>
                </div>
                <h1>Удобрения Биогумус</h1>
                [[*content]]
            </div>
        </div>
    </div>
    <!--<div class="row">-->
    <!--    <div class="col-md-8">-->
    <!--        <h3>Новинки</h3>-->
    <!--        <div class="slick-slider-three row">-->
    <!--            [[--getProducts@mainpage_new--]]-->
    <!--        </div>-->
    <!--        <div class="clearfix"></div>-->
    <!--    </div>-->
    <!--    <div class="col-md-4 margin-bottom-lg">-->
    <!--        <h3>Каталог:</h3>-->
    <!--        [[--Wayfinder@menu_categories--]]-->
    <!--    </div>-->
    <!--</div>-->
</div>
[[$footer]]