[[$header2]]
<div class="container main">
    <div class="row">
        [[$dostavka_red_action_mobile]]
        <aside class="col-xs-12 col-md-3"><!--левая колонка-->
            [[$sidebar]]
        </aside> <!--левая колонка-->
        <div class="col-xs-12 col-md-9">
            <div class="content content--main">
                [[QuickCrumbs@breadcrumbs]]
                
                [[$dostavka_red_action]]
                
                <h1>[[*longtitle:default=`[[*pagetitle]]`]]</h1>
                
                [[*content]]
                        
                [[$popular]]
            </div>
        </div>
    </div>
</div>
[[$footer]]